ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1a1110;
}

li {
	float: left;
}

li a {
	display: block;
	color: #dcdcdc;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

	li a:hover {
		background-color: #000000;
		color: #ffffff;
	}

h1 {
	display: block;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 14px 16px;
	font-weight: bold;

}

p1 {
	float: right;
}